<%- include('./includes/head.ejs') %>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Prompt&display=swap">
</head>

<body>
  <div class="container">
    <%- include('./includes/navigation.ejs') %>

    <section class="votings_container">
      <h1 class="votings_title">Your opinion matters, Democracy is everything<span class="distinct">!</span></h1>
      <% if (votings && votings.length> 0) { %>
        <% votings.forEach((voting)=> { %>
          <div class="voting_card">
            <div class="voting_card_header">
              <div class="voting_card_header_part">
                <h4 class="voting_card_number">No. <%= voting.id %></h4>
                <% if (voting.status=='closed' ) { %>
                <h4 class="voting_card_closed">Closed</h4>
                <img src="/images/lock.png" alt="" class="lock">
                <% } %>
              </div>
              <div class="voting_card_header_part">
                <h4 class="voting_card_votes">Votes: <%= voting.votes_num %>
                </h4>
                <a href="/voting/<%= voting.id %>"><button class="green_button">Open</button></a>
              </div>
            </div>
            <div class="voting_card_body">
              <h2 class="voting_card_title">
                <%= voting.title %>
              </h2>
              <h4 class="voting_card_creator">Created by <%= voting.creator_name %>
              </h4>
            </div>
          </div>
          <% }); %>
            <% } else { %>
              <p>No votings found.</p>
              <% } %>
    </section>

  </div>


</body>

</html>