<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/voting.css" />
    <link rel="stylesheet" href="/styles/animations.css" />
  </head>

  <body>
    <div class="container">
      <%- include('./includes/navigation.ejs') %>

      <section class="votings_container">
        <div class="voting_container">
          <div class="voting_header">
            <p class="voting_number">No. <%= voting.id %> Results</p>
            <h2 class="voting_title"><%= voting.title %></h2>
            <div class="voting_info_container">
              <p class="voting_creator">Author: <%= creatorName %>
              </p>
              <p class="voting_creator">Total votes: <%= voting.votes_num %>
              </p>
            </div>
          </div>
          <div class="voting_body">
            <p class="voting_description"><%= voting.description %></p>
            <div class="poll_container">
              <% candidates.forEach((candidate, index) => { %>
              <p class="option_text">
                <%= candidate.name %> - <%= candidate.votes_num %> votes
              </p>
              <% }) %>
            </div>
          </div>
          <div class="bottom_buttons_container">
            <a href="/voting/<%= voting.id %>/res" id="myLink"></a>
            <img src="/images/link.png" id="copyLinkButton" class="bottom_icon">
          </div>
        </div>
      </section>
    </div>
  </body>

  <script>
    const copyLinkButton = document.getElementById("copyLinkButton");
    const myLink = document.getElementById("myLink");

    copyLinkButton.addEventListener("click", async () => {
      try {
        await navigator.clipboard.writeText(myLink.href);
        alert("Link copied to clipboard!");
      } catch (err) {
        console.error("Failed to copy link: ", err);
      }
    });
  </script>
</html>
