<%- include('./includes/head.ejs') %>
  <link rel="stylesheet" href="/styles/voting.css" />
  <link rel="stylesheet" href="/styles/animations.css" />
</head>

<body>
  <div class="container">
    <%- include('./includes/navigation.ejs') %>

    <section class="votings_container">
      <div class="voting_container">
        <div class="voting_header">
          <div class="voting_header_part">
            <a href="/" class="back_link"><img src="/images/back.png" class="back_arrow" alt=""></a>
            <p class="voting_number">No. <%= voting.id %>
            </p>
            <% if (voting.status=='closed' ) { %>
              <p class="voting_closed">Closed</p>
              <img src="/images/lock.png" alt="" class="lock_icon">
              <% } %>
          </div>
          <h2 class="voting_title">
            <%= voting.title %>
          </h2>
          <div class="voting_info_container">
            <p class="voting_creator">Author: <%= creatorName %>
            </p>
            <p class="voting_creator">Total votes: <%= voting.votes_num %>
            </p>
          </div>
        </div>
        <div class="voting_body">
          <p class="voting_description">
            <%= voting.description %>
          </p>
          <form action="/voting/<%= voting.id %>/vote" method="POST" id="vote-form">
            <div class="poll_container">
              <% candidates.forEach((candidate, index)=> { %>
                <p class="option_text">
                  <input type="radio" name="candidateId" id="answer<%= index + 1 %>" value="<%= candidate.id %>" />
                  <label for="answer<%= index + 1 %>">
                    <%= candidate.name %>
                      <% if (voting.status=='closed' || (vote && vote.length)) { %> - <%= candidate.votes_num %> votes <% } %>
                  </label>
                </p>
                <% }) %>
            </div>
            <div class="vote_button_container">
              <% if (voting.status=='active' ) { %>
                <button type="submit" class="green_button" id="vote-button">
                  <% if (vote && vote.length) { %> You already voted <% } else { %> Vote <% } %>
                </button>
                <% } %>
            </div>
          </form>

          <div class="bottom_buttons_container">
            <% if (vote && vote.length) { %>
              <form action="/voting/<%= voting.id %>/retract" method="POST" id="retract-vote-form">
                <button type="submit" class="transparent_button">Retract Vote</button>
              </form>
              <% } %>
              <% if (voting.user_id==userId) { %>
                <form action="/voting/<%= voting.id %>/delete" method="POST" id="delete-voting-form">
                  <button type="submit">Delete Voting</button>
                </form>
                <% } %>
            <a href="/voting/<%= voting.id %>" id="myLink"></a>
            <img src="/images/link.png" id="copyLinkButton" class="bottom_icon">


            <% if (voting.user_id==userId && voting.status=='active' ) { %>
              <img src="/images/lock.png" id="close-voting-button" class="bottom_icon">
              <% } %>
                <% if (voting.user_id==userId && voting.status=='closed' ) { %>
                  <img src="/images/unlock.png" id="open-voting-button" class="bottom_icon">
                  <% } %>
                    <% if (voting.user_id==userId) { %>
                      <a href="/voting/<%= voting.id %>/res" class="bottom_link">Results</a>
                      <% } %>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script>
    const voteForm = document.getElementById("vote-form");

    const copyLinkButton = document.getElementById('copyLinkButton');
    const myLink = document.getElementById('myLink');

    copyLinkButton.addEventListener('click', async () => {
      try {
        await navigator.clipboard.writeText(myLink.href);
        showPopup('Link copied to clipboard!');
      } catch (err) {
        console.error('Failed to copy link: ', err);
      }
    });


    
    voteForm.addEventListener("submit", async (event) => {
      event.preventDefault();
      if (document.querySelector("input:checked") === null) {
        showPopup("No candidate selected!");
        return;
      }
      try {
        const candidateId = document.querySelector("input:checked").value;

        const response = await fetch(`/voting/<%= voting.id %>/vote`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({candidateId }),
        });

        if (response.ok) {
          const message = await response.text();
          showPopup(message);
          location.reload();
        } else {
          const errorMessage = await response.text();
          showPopup(`Error: ${errorMessage}`);
          return;
        }
      } catch (error) {
        console.error(error);
        showPopup("Error: Failed to cast vote");
      }
    });

    const retractForm = document.getElementById("retract-vote-form");
    if(retractForm){
      retractForm.addEventListener("submit", async (event) => {
        event.preventDefault();
        try {
          const response = await fetch(`/voting/<%= voting.id %>/retract`, {
            method: "POST",
          });

          if (response.ok) {
            const message = await response.text();
            showPopup(message);
            location.reload();
          } else {
            const errorMessage = await response.text();
            showPopup(`Error: ${errorMessage}`);
            return;
          }
        } catch (error) {
          console.error(error);
          showPopup("Error: Failed to cast vote");
        }
      });
    }

    function showPopup(message) {
      alert(message);
    }

    const openVotingButton = document.getElementById("open-voting-button");
    if (openVotingButton) {
      openVotingButton.addEventListener("click", async () => {
        try {
          const response = await fetch(`/voting/<%= voting.id %>/open`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
          });

          if (response.ok) {
            showPopup("Voting opened successfully");
            location.reload();
          } else {
            const errorMessage = await response.text();
            showPopup(`Error: ${errorMessage}`);
          }
        } catch (error) {
          console.error(error);
          showPopup("Error: Failed to open voting");
        }
      });
    }

    const closeVotingButton = document.getElementById("close-voting-button");
    if (closeVotingButton) {
      closeVotingButton.addEventListener("click", async () => {
        try {
          const response = await fetch(`/voting/<%= voting.id %>/close`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
          });

          if (response.ok) {
            showPopup("Voting closed successfully");
            location.reload();
          } else {
            const errorMessage = await response.text();
            showPopup(`Error: ${errorMessage}`);
          }
        } catch (error) {
          console.error(error);
          showPopup("Error: Failed to close voting");
        }
      });
    }

    const vote = `<%= JSON.stringify(vote) %>`;
    `<% if (vote && vote.length) { %>`;
    if (document.getElementById("vote-button")) {
      document.getElementById("vote-button").disabled = true;
    }
    const voteCanId = "<%= vote[0].candidate_id%>";
    const radioButtons = document.querySelectorAll(
      'input[type="radio"][name="candidateId"]'
    );

    let found = false;
    for (const radioButton of radioButtons) {
      if (radioButton.value == voteCanId) {
        radioButton.checked = true;
        found = true;
        break;
      }
    }

    if (found) {
      for (const radioButton of radioButtons) {
        if (radioButton.value !== voteCanId) {
          radioButton.disabled = true;
        }
      }
    }
    `<% } %>`;
  </script>
</body>

</html>