<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myVote</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/voting.css" />
    <link rel="stylesheet" href="/styles/animations.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Prompt&display=swap"
    />
  </head>

  <body>
    <div class="container">
      <header class="header">
        <h1>
          <a href="/">my<span class="distinct">V</span>ote</a>
        </h1>
        <div class="header__right">
          <a href="/newpoll"
            ><button class="green_button">Create vote</button></a
          >
          <p class="username">username</p>
        </div>
      </header>

      <section class="votings_container">
        <div class="voting_container">
          <div class="voting_header">
            <p class="voting_number">No. <%= voting.id %></p>
            <h2 class="voting_title"><%= voting.title %></h2>
            <p class="voting_creator">Author: <%= voting.createdBy %></p>
          </div>
          <div class="voting_body">
            <p class="voting_description"><%= voting.description %></p>
            <form action="/voting/<%= voting.id %>/vote" method="POST" id="vote-form">
              <div class="poll_container">
                <% voting.candidates.forEach((candidate, index) => { %>
                <p class="option_text">
                  <input type="radio" name="candidateId" id="answer<%= index + 1 %>" value="<%= candidate.id %>" checked/>
                  <label for="answer<%= index + 1 %>"
                    ><%= candidate.name %> <% if (voting.status === 'closed') { %>
                      - <%= candidate.voteCount %> votes
                    <% } %></label
                  >
                </p>
                <% }) %>
              </div>
              <div class="vote_button_container">
                <% if (voting.status == 'active') { %>
                  <button type="submit" class="green_button">Vote</button>
                <% } %>
              </div>
            </form>
            <% if (voting.createdById == authorId && voting.status == 'active') { %>
              <button id="close-voting-button">Close Voting</button>
            <% } %>
          </div>
        </div>
      </section>
    </div>

    <script>
      const form = document.getElementById("vote-form");
      const candidateId = document.querySelector(
        'input:checked'
      ).value;
      form.addEventListener("submit", async (event) => {
        event.preventDefault();

        try {
          const response = await fetch(`/voting/<%= voting.id %>/vote`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ candidateId }),
          });

          if (response.ok) {
  const message = await response.text();
  showPopup(message);
} else {
  const errorMessage = await response.text();
  showPopup(`Error: ${errorMessage}`);
}
        } catch (error) {
          console.error(error);
          // Show error pop-up
          showPopup("Error: Failed to cast vote");
        }
      });
      function showPopup(message) {
        alert(message);
      }

      document.getElementById("close-voting-button").addEventListener("click", async () => {

    try {
      const response = await fetch(`/voting/<%= voting.id %>/close`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
      });

      if (response.ok) {
        alert("Voting closed successfully");
        location.reload();
      } else {
        const errorMessage = await response.text();
        alert(`Error: ${errorMessage}`);
      }
    } catch (error) {
      console.error(error);
      alert("Error: Failed to close voting");
    }
  });
    </script>
  </body>
</html>
